<div class="row">
  <div class="col-xs-6">
    <h2><%= @plant.name %></h2>
  </div>
  <div class="col-xs-3 col-xs-offset-3">
    <p class="pull-right">
      <%= link_to 'Edit', edit_plant_path(@plant),
                          class: 'btn btn-default' %>
      <%= link_to 'Delete', @plant,
                            method: :delete,
                            confirm: 'Are you sure?',
                            class: 'btn btn-danger' %>
    </p>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-4">
    <p><strong>Signal Power Pin</strong></p>
  </div>
  <div class="col-xs-1">
    <p class="text-right"><%= @plant.signal_power_pin %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <p><strong>Signal ADC Channel</strong></p>
  </div>
  <div class="col-xs-1">
    <p class="text-right"> <%= @plant.signal_channel %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <p><strong>Pump Power Pin</strong></p>
  </div>
  <div class="col-xs-1">
    <p class="text-right"><%= @plant.pump_power_pin %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <p><strong>Moisture Threshold</strong></p>
  </div>
  <div class="col-xs-1">
    <p class="text-right"><%= @plant.moisture_threshold %>%</p>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-6">
    <%= high_chart("moisture_gauge_chart", @plant.moisture_gauge) %>
  </div>
  <div class="col-sm-6">
    <%= high_chart("moisture_histogram_chart", @plant.moisture_histogram) %>
  </div>
</div>
